<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manual control interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
</head>

<body>

<div class="tab">
    <button class="tablinks" onclick="on_tab_btn(event, 'Extraction')" id="default-opened-tab">Extraction</button>
    <button class="tablinks" onclick="on_tab_btn(event, 'Navigation')">Navigation</button>
</div>
<div id="Extraction" class="tabcontent" style="display: flex;">
    <div class="leftmenu" style="display: block;">
        <div class="arrows">
            <button type="button" id="move-left">
                <div class="arrow-left arrow"></div>
            </button>
            <div class="up-down-arrows arrow">
                <button type="button" id="move-forward">
                    <div class="arrow-forward arrow"></div>
                </button>
                <button type="button" id="move-backward">
                    <div class="arrow-backward arrow"></div>
                </button>
            </div>
            <button type="button" id="move-right">
                <div class="arrow-right arrow"></div>
            </button>

            <!-- z control -->

            <div class="up-down-arrows arrow">
                <button type="button" id="move-up">
                    <div class="arrow-forward arrow"></div>
                </button>
                <button type="button" id="move-down">
                    <div class="arrow-backward arrow"></div>
                </button>
            </div>

            <!-- start/stop -->
            <div class="up-down-arrows arrow">
                <button type="button" onclick="on_enable_disable_engines_btn(event, 'enable_engines')">
                    <p>ENABLE ENGINES</p>
                </button>
                <button type="button" onclick="on_enable_disable_engines_btn(event, 'disable_engines')">
                    <p>DISABLE ENGINES</p>
                </button>
            </div>
        </div>
        <div id="slidecontainer">
            <p>
                XY Step: <input id="step-xy-input" type="number" min="1" max="78" value="1">
                <br>
                <input id="step-xy-range" class="slider-color" type="range" min="1" max="78" value="1">
            </p>
            <p>
                XY Force: <input id="force-xy-input" type="number" min="1" max="1000" value="50">
                <br>
                <input id="force-xy-range" class="slider-color" type="range" min="1" max="1000" value="50">
            </p>
            <p>
                Z Step: <input id="step-z-input" type="number" min="1" max="52" value="1">
                <br>
                <input id="step-z-range" class="slider-color" type="range" min="1" max="52" value="1">
            </p>
            <p>
                Z Force: <input id="force-z-input" type="number" min="1" max="1000" value="50">
                <br>
                <input id="force-z-range" class="slider-color" type="range" min="1" max="1000" value="50">
            </p>
            <p>
                Manual setup Z axis current coords: 
                <br>
                <input id="z-current-input" type="number" value="0">
                <button id="z-current-assign" type="button" onclick="on_z_current_assign_btn(event)">
                    ASSIGN Z AXIS CURRENT COORDS
                </button>
            </p>
        </div>
    </div>

    <div class="rightmenu" style="display: block;">
        <p class="contur">
            <img id="base" src="{{ url_for('static', filename='images/base1.jpg') }}" class="base" style="display:none">
        </p>
        <p class="can">
            <canvas id="canvas" width="613" height="450"></canvas>
        </p>
    </div>
</div>

<div id="Navigation" class="tabcontent">
    <div class="arrows">
        <!-- body control -->
        <div style="margin:20px;"></div>
        <button type="button" id="body-left">
            <div class="arrow-left arrow"></div>
        </button>
        <div class="up-down-arrows arrow">
            <button type="button" id="body-forward">
                <div class="arrow-forward arrow"></div>
            </button>
            <button type="button" id="body-backward">
                <div class="arrow-backward arrow"></div>
            </button>
        </div>
        <button type="button" id="body-right">
            <div class="arrow-right arrow"></div>
        </button>

        <button type="button" id="wheels" style="margin:5px">
            <p>ALLIGN WHEELS</p>
        </button>

        <!-- start/stop -->
        <div class="up-down-arrows arrow">
            <button type="button" onclick="on_enable_disable_engines_btn(event, 'enable_engines')">
                <p>ENABLE ENGINES</p>
            </button>
            <button type="button" onclick="on_enable_disable_engines_btn(event, 'disable_engines')">
                <p>DISABLE ENGINES</p>
            </button>
        </div>
    </div>
</div>
<!-- <p><a href="http://192.168.8.100:8082/index.html" target="pi-cam">Press to enable camera stream</a></p> -->
<iframe width="640" height="480" id="pi-cam" name="pi-cam" src="http://{{STREAM_SERVER_HOST}}:{{STREAM_SERVER_PORT_HTTP}}/index.html"></iframe>

<div id="response_messages">
    <div class="messages">
        No response messages yet
    </div>
</div>
<div>
    <input id="raw_gcode_input" type="text" style="width:30%">
    <button type="button" onclick="on_send_raw_gcode_btn()">SEND G-CODE</button>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/control.js') }}"></script>

</body>
</html>
