<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pluto the Robot</title>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
</head>

<body>
<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
<div class="message_holder"></div>

<br>
<form id="control" action="" method="POST">
    <input id="step" type="number" class="X" min="0.1" max="100" step="0.1" value="1" placeholder="Step">
    <input id="force" type="number" class="Y" min="1" max="100" step="1" value="100" placeholder="Force">

    <br><br>
    <button type="button" class="btn btn-default" id="move-left"> < </button>
    <button type="button" class="btn btn-default" id="move-forward"> ^ </button>
    <button type="button" class="btn btn-default" id="move-backward"> v </button>
    <button type="button" class="btn btn-default" id="move-right"> > </button>
    <button type="button" class="btn btn-danger" id="stop">Stop</button>
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on('connect', function() {

    let common_handler = function(event) {
        event.preventDefault();
        let id = event.target.id;
		let step = Number(document.getElementById("step").value);
		let force = Number(document.getElementById("force").value);
        let x = 0;
        let y = 0;

        if (step < 0 || force < 0){
            alert("Step and force cant be lesser than a zero.");
            return;
        }

        if (step === 0 || force === 0 || step > {{step_max}} || force > {{force_max}}) {
            alert("Step and force values can't be zero and step, force shouldn't be greater than {{step_max}}, {{force_max}}");
            return;
        }

        if (id === "move-left") {x = -step;}
        else if (id === "move-right") {x = step;}
        else if (id === "move-forward") {y = step;}
        else if (id === "move-backward") {y = -step;}
        // else if (id === "stop") {}

        console.log("Sending: X", x, "Y", y, "F", force);
        socket.emit('command', {X : x, Y : y, F: force});
    }

    let on_left = $('#move-left').on('click', common_handler);

    let on_right = $('#move-right').on('click', common_handler);

    let on_forward = $('#move-forward').on('click', common_handler);

    let on_backward = $('#move-backward').on('click', common_handler);

    // let on_stop = $('#stop').on('click', common_handler);
})

socket.on('response', function(msg) {
	console.log("Got response:", msg)

	if (typeof msg !== 'undefined') {
		$('h3').remove()
		$('div.message_holder').remove
		$('div.message_holder').append('<div>' + msg + '</div>')
    }
})
</script>

</body>
</html>
